* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    height: auto;
    background: #f7f7f7;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    color: #fff;
    background: #000;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 2px 10px 0 rgba(50, 50, 50, 0.3);
    z-index: 999;
    transition: all .8s ease;
}

.sticky {
    opacity: .7;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 1100px;
    margin: 0 20px;

}

.close-header {
    display: none;
    position: absolute;
    font-size: 16px;
    color: #fff;
    top: 10px;
    right: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 1px 4px ;
}

#header-logo {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    font-size: 30px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    margin-left: 40px;
}

nav li:first-child {
    margin-left: 0;
}

nav li a {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: ease-in .1s;
}

nav li a:hover {
    border-bottom: 2px solid #fff;
}

#main-container {
    display: flex;
    justify-content: center;
    margin: 30px 10px 100px 10px;
}

#content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1100px;
}

main {
    width: 770px;
    height: auto;
}

.news {
    border-radius: 5px;
    width: 100%;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.2);
}

.image, .image img{
    object-fit: cover;
    width: 100%;
    height: 370px;
    border-radius: 5px 5px 0 0;
}

.news-name {
    font-size: 35px;
    font-weight: 700;
    margin: 20px;
}

.news-information {
    display: flex;
    flex-direction: row;
    margin: 0 40px;
}

.news-description {
    font-size: 20px;
    margin: 20px;
}

.info-item {
    margin-right: 15px;
    color: #222222;
}

.info-item:first-child::before {
    content: '\f073';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    margin-right: 5px;
}

.info-item:nth-child(2)::before {
    content: '\f007';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    margin-right: 5px;
}

.info-item:last-child::before {
    content: '\f07c';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    margin-right: 5px;
}

.news-target {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: auto;
}

.news-target a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    transition: ease .2s;
}

.news-target a:hover {
    transform: translateY(-2px);
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-list div > a {
    color: #000;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.2);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background: #fff;
    transition: .3s;
    text-align: center;
    height: 24px;
    font-weight: 900;
}

.nav-list div > a.selected {
    color: #fff;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.2);
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background: #000;
    transition: .3s;
    text-align: center;
    height: 24px;
    font-weight: 900;
}

.nav-list div > a:hover {
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 1);
    background: #000;
    color: #fff;
}

.first-page a::before {
    content: 'Первая страница';
}

.last-page a::before {
    content: 'Последняя страница';
}

.number-pages {
    display: flex;
    flex-direction: row;
}

.number-pages > a {
    margin-right: 10px;
    width: 18px;
}

.number-pages > a:last-child {
    margin-right: 0;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.disabled:hover {
    background: #fff;
}

.aside-container {
    width: 330px;
    position: relative;
    margin-left: 30px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: inherit;
    background: #fff;
    border-radius: 5px;
    padding: 30px 0;
    position: sticky;
    top: 90px;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.2);
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search form {
    display: flex;
    justify-content: center;
    width: 80%;
}

.search form input {
    font-size: 18px;
    width: 70%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: 2px solid #ececec;
    border-radius: 5px 0 0 5px;
    transition: .5s;
}

.search form input:focus {
    border: 2px solid #000;
}

.search form button {
    cursor: pointer;
    font-size: 18px;
    height: 44px;
    width: 44px;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    background: black;
    color: #fff;
    margin-left: -4px;
}

.search form button::before {
    content: '\f002';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 20px;
}

.categories span {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.category-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ececec;
    font-size: 18px;
    height: 50px;
    width: 100%;
}

.category-block:hover, .category-block a:hover {
    background-color: #000;
    color: #fff;
}

.category-block:last-child {
    border-bottom: none;
}

.category-block a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 1;
    position: relative;
}

.category-block a::before {
    content: '\f07c';
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    margin-right: 15px;
    padding-left: 20px;
}

.auth-target {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#show-target {
    display: block;
    margin-top: 20px;
    background: #000;
    border-radius: 5px;
    text-decoration: none;
    transition: .2s;
}

#show-target a {
    display: block;
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.auth-form {
    display: none;
    flex-direction: column;
    margin-top: 20px;
    width: 80%;
}
.auth-form span {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.auth-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
}

.auth-form form input {
    font-size: 16px;
    width: 92%;
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: 2px solid #ececec;
    border-radius: 5px;
    transition: .5s;
    margin-bottom: 15px;
}

.auth-form form input:focus {
    border: 2px solid #000;
}

.auth-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.auth-buttons button {
    cursor: pointer;
    color: #000;
    background: #fff;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #000;
    font-size: 16px;
    border-radius: 5px;
}

.auth-buttons button:last-child {
    background: #000;
    color: #fff;
}

.logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}

.logout a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background: #000;
    margin-top: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 8px 20px;
    transition: .5s;
}

.logout a:hover {
    background: #fff;
    color: #000;
}

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    background: #000;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 10px 0 rgba(50, 50, 50, 0.3);
    z-index: 1000;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: 0 20px 0 20px;
}

.copyright {
    text-transform: uppercase;
}

.links {
    display: flex;
    flex-direction: row;
}

.links a {
    display: block;
    color: #000;
    font-size: 18px;
    background: #fff;
    border-radius: 5px;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    padding: 5px;
    text-align: center;
    transition: .4s;
}

.links a:hover {
    transform: translateY(-4px);
}

@media screen and (min-width: 544px) and (max-width: 1099px) {
    #main-container {
        display: flex;
        justify-content: center;

    }

    #content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main {
        width: 90%;
    }

    .prev-page a::before {
        content: '\f053';
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
    }

    .next-page a::before {
        content: '\f054';
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
    }

    .aside-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: static;
        margin-top: 30px;
        margin-left: 0;
    }

    aside {
        position: static;
        width: 90%;
    }

    .auth-form {
        display: none;
        flex-direction: column;
        margin-top: 20px;
        width: 80%;
    }
    .auth-form span {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .auth-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 10px;
    }

    .auth-form form input {
        font-size: 16px;
        width: 70%;
        height: 40px;
        padding: 0 10px;
        outline: none;
        border: 2px solid #ececec;
        border-radius: 5px;
        transition: .5s;
        margin-bottom: 15px;
    }

    .auth-form form input:focus {
        border: 2px solid #000;
    }

    .auth-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 73%;
    }

    .auth-buttons button {
        cursor: pointer;
        color: #000;
        background: #fff;
        padding: 10px 20px;
        outline: none;
        border: 2px solid #000;
        font-size: 16px;
        border-radius: 5px;
    }

    .auth-buttons button:hover {
        color: #fff;
        background: #000;
    }
}

@media screen and (max-width: 544px) {

    header {
        height: auto;
        padding: 10px 0;
    }

    #header-logo {
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .fa-bars {
        display: block;
        cursor: pointer;
    }

    nav ul {
        display: none;
    }

    nav li {
        margin-left: 30px;
    }

    nav li a {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-decoration: none;
        transition: ease-in .1s;
    }

    #main-container {
        display: flex;
        justify-content: center;
        margin: 20px 10px 65px 10px;
    }

    #content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    main {
        width: 98%;
    }

    .first-page a::before {
        content: '\f053';
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
    }

    .last-page a::before {
        content: '\f054';
        font-family: Font Awesome\ 5 Free;
        font-weight: 900;
    }

    .aside-container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: static;
        margin-top: 30px;
        margin-left: 0;
    }

    aside {
        position: static;
        width: 98%;
    }

    .auth-form {
        display: none;
        flex-direction: column;
        margin-top: 20px;
        width: 80%;
    }
    .auth-form span {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .auth-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 10px;
    }

    .auth-form form input {
        font-size: 14px;
        width: 70%;
        height: 30px;
        padding: 0 10px;
        outline: none;
        border: 2px solid #ececec;
        border-radius: 5px;
        transition: .5s;
        margin-bottom: 15px;
    }

    .auth-form form input:focus {
        border: 2px solid #000;
    }

    .auth-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .auth-buttons button {
        cursor: pointer;
        color: #000;
        background: #fff;
        padding: 7px 15px;
        outline: none;
        border: 2px solid #000;
        font-size: 14px;
        border-radius: 5px;
    }

    .auth-buttons button:hover {
        color: #fff;
        background: #000;
    }

    .image, .image img{
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 5px 5px 0 0;
    }

    .news-name {
        font-size: 25px;
        font-weight: 700;
        margin: 20px 20px 10px 20px;
    }

    .news-information {
        display: flex;
        flex-direction: column;
        margin: 0 25px;
        font-size: 15px;
    }

    .news-description {
        font-size: 16px;
        margin: 10px 20px 20px 20px;
    }

    #footer-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px;
        background: #000;
        width: 100%;
        height: 40px;
        position: fixed;
        bottom: 0;
        left: 0;
        box-shadow: 0 -4px 10px 0 rgba(50, 50, 50, 0.3);
        z-index: 1000;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1100px;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        margin: 0 20px 0 20px;
    }

    .copyright {
        text-transform: uppercase;
    }

    .links {
        display: flex;
        flex-direction: row;
    }

    .links a {
        display: block;
        color: #000;
        font-size: 12px;
        background: #fff;
        border-radius: 5px;
        margin-left: 10px;
        width: 14px;
        height: 14px;
        padding: 5px;
        text-align: center;
        transition: .4s;
    }
}

/* post-page */

.post-page {
    border-radius: 5px;
    width: calc(100% - 40px);
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.2);
    padding: 20px;
    font-size: 18px;
}

.post-page-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    color: #777777;
    font-size: 15px;
}

.post-page img {
    object-fit: cover;
    width: 100%;
    height: 370px;
    margin: 10px 0;
    border-radius: 5px;
}

.fb-comments {
    margin-top: 20px;
}

@media screen and (min-width: 544px) and (max-width: 1099px) {
    .post-page img{
        object-fit: cover;
        width: 100%;
        height: 340px;
        border-radius: 5px 5px 0 0;
    }
}

@media screen and (max-width: 544px) {
    .post-page img{
        object-fit: cover;
        width: 100%;
        height: 200px;
        border-radius: 5px 5px 0 0;
    }
}

.contact-form {
    border-radius: 5px;
    width: calc(100% - 40px);
    background: #fff;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.2);
    padding: 20px;
    font-size: 18px;
}

.contact-form h1 {
    font-size: 30px;
    margin-bottom: 40px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form label {
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-form form input,
.contact-form textarea {
    font-size: 18px;
    padding: 0 10px;
    outline: none;
    border: 2px solid #ececec;
    border-radius: 5px;
    transition: .5s;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.contact-form form input {
    height: 40px;
    width: 50%;
}

.contact-form form input:focus {
    border: 2px solid #000;
}

.contact-form form textarea {

    margin-bottom: 30px;
    padding: 10px;
}

.contact-form button {
    cursor: pointer;
    color: #000;
    background: #fff;
    padding: 10px 20px;
    outline: none;
    border: 2px solid #000;
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    transition: .3s;
}

.contact-form button:last-child {
    background: #000;
    color: #fff;
    margin-left: 10px;
}

.contact-form button:hover {
    transform: translateY(-2px);
}


